#clockContainer {
    background-color: pink;
    height: 40vw;
    width: 40vw;
    align-items: center;
    justify-content: center;
    background-image:
    linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)),
    url(hellokitty.jpg),
    url(clock.png);
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    border: black;
    border-radius: 50%;
    border: 2px solid black;
    margin: auto;
    position: relative;

    

}


#hour {
    position: absolute;
    background: black;
    border-radius: 10px;
    height: 30%;
    width: 10px;
    opacity: 0.8;
    top: 20%;
    left: 48.5%;
    border: 1px solid red;
    transform-origin: bottom;
}


#minute {
    position: absolute;
    background: aqua;
    border-radius: 10px;
    height: 36%;
    width: 10px;
    opacity: 0.5;
    top: 14%;
    left: 48%;
    border: 2px solid red;
    transform-origin: bottom;
}

#second {
    position: absolute;
    background-color: green;
    height: 44%;
    width: 10px;
    top: 3%;
    left: 48%;
    opacity: 0.2;
    border-radius: 10px;
    border: 3px solid red;
    transform-origin: bottom;


}

body {
    background-image: url(hellokitty.jpg);
    background-size: 150px;
}

#hellokitty {
    color: pink;
    font-size: 10px;
    height: 50;
    text-align: center;
    font-weight: 300;
    text-decoration: dotted;

}